@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  display: flex;
  justify-content: center;
}

.jumbotron {
  background-color: darkgrey;
  color: white;
  width: 30em;
  margin: 2em;
  padding: 2em;
}

#bear-form {
  width: 40em;
}

.lead {
  font-size: 1.2em;
}

.form-control {
  width: 25em;
}

.fish-btn {

}

#river {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 2em;
}
