@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
}
.navbar {
 padding: 0;
 margin-bottom: 100px;
}
.navbar-nav {
  top: 0;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  position: sticky;
  width: 100%;
  height: 42px;
  margin-left: auto;

  .nav-item {
    font-weight: 500;
    display: inline-block;
  }
};

.bearwatcher-title {
width: auto;
font-style: normal;
font-weight: normal;
line-height: 80px;
display: flex;
align-items: center;
margin-left: 40%;
margin-right: auto;
}
h1 {
  font-size: 80px;
}
.fuzzy {
  width: 87%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-size: 50px;
}
.river-title {
  padding: 10px;
  border-bottom: 2px solid black;
  margin: 200px 100px 75px;
  padding-bottom: 75px;
}
.bear-card {
  height: 35rem;
  padding: 6px;
  margin: 60px;
  width: 30rem;
  border-radius: 3px;
}
.card-title {
  border-bottom: 2px black solid;
}
.fish-container {
  height: 40%;
}
.header-container {
  margin-top: 50px;
}
 .first {
  width: 100%;
  height: 100%;
  background-image: url('../assets/goldMedal.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second {
  width: 100%;
  height: 100%;
  background-image: url('../assets/silverMedal.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.third {
  width: 100%;
  height: 100%;
  background-image: url('../assets/bronzeMedal.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
